# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs/
*.log
logs/*.log
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Database
*.sqlite
*.db
*.tgz

# Debugging
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# Coverage directory used by tools like istanbul
coverage/

# Production
build/
dist/

# Miscellaneous
tmp/
temp/

# MongoDB
data/
dump/

# Others
*.zip
*.tar.gz
